<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #cad0da, #243b55);
        background-image: url(https://i.pinimg.com/originals/b6/6e/8f/b66e8ffa547746f4085ecc197cd588b9.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
</style>

<div class="login-page">
    <div class="form">
        <div>
            <h2 class="title h1" style="color: #000000;">Admin Login</h2>
        </div>
        <form class="login-form" action="/admin/login" method="post">
            <input type="email" placeholder="Enter email" name="email" />
            <input type="password" placeholder="Enter password" name="password" />
            <button type="submit" style="background: linear-gradient(90deg, #141e30, #243b55);">Login</button>
        </form>
    </div>
</div>